* {
  box-sizing: border-box;
}
body {
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
  font-size: 10px;
  font-family: 'Mulish', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-display: swap;
}
